doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Black Bird Clothes
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="css/style.css")

	body
		header.bird-box
			.back-bird
			.logo
			.fore-bird

		section.content
			article
				h1 Unique Style
				hr
				p Lorem ipsum In consectetur in veniam dolor quis cupidatat reprehenderit nisi laboris deserunt deserunt consequat dolor exercitation commodo est aliquip do dolor anim culpa dolore magna nostrud cupidatat deserunt exercitation in cillum aliqua aliqua ea quis ut ea sunt et elit nostrud voluptate tempor aliquip sint labore est ex fugiat id ex Duis labore reprehenderit exercitation commodo proident Duis do enim qui in minim nostrud ullamco aliquip exercitation labore incididunt et magna consequat aliqua laborum sed labore qui in cillum eiusmod et labore non pariatur consectetur laboris deserunt ut non aliqua consectetur ea occaecat in do non anim occaecat ad ut tempor dolore esse eu et sed exercitation minim in sunt consequat pariatur laborum ut cupidatat consequat cupidatat mollit do sed amet exercitation reprehenderit velit ut tempor cillum elit eu sint cillum officia Excepteur in aliquip Excepteur adipisicing in sunt occaecat laborum ad sunt.
				hr
				.clothes-pics
					.row.img-row
						figure.columns.four
							img(src="images/130H.jpg")
							figcaption OMG-Belt
						figure.columns.four
							img(src="images/140H.jpg")
							figcaption UltraBlue Spacesuit
						figure.columns.four
							img(src="images/141H.jpg")
							figcaption UltraBlue Spacesuit
					.row.img-row
						figure.columns.four
							img(src="images/149H.jpg")
							figcaption DonieDarco Pyjama
						figure.columns.four
							img(src="images/156H.jpg")
							figcaption Pink Hug Pyajama
						figure.columns.four
							img(src="images/163H.jpg")
							figcaption Boring Black&White Sweater
					.row.img-row
						figure.columns.four
							img(src="images/166H.jpg")
							figcaption Rain-Dear Hat
						figure.columns.four
							img(src="images/173H.jpg")
							figcaption Wolverine Slippers
						figure.columns.four
							img(src="images/141H.jpg")
							figcaption UltraBlue Spacesuit
				p Lorem ipsum Laboris Duis irure reprehenderit fugiat officia in quis dolor cillum sit ad veniam non nisi aliqua ut adipisicing dolor dolore ea mollit reprehenderit. Lorem ipsum Dolore enim dolore commodo reprehenderit pariatur exercitation nulla consequat officia dolore Duis minim incididunt consectetur esse sint aliqua ad veniam quis sed commodo.
				hr

				h1 Fine Tailoring
				.large-window.one
					.window-tint
						.promo-text WWW Night Gown
							strong <span>from</span> $99
							a(href="").window-cta Shop Now
				strong Wild Wild West Night Gown
				p Bacon ipsum dolor sit amet beef shoulder frankfurter brisket short loin. Capicola shankle pork belly, turducken chuck doner leberkas short loin. Boudin strip steak pork loin shankle flank spare ribs shoulder. Ball tip leberkas beef shank jerky beef ribs tongue capicola short loin pork belly filet mignon ribeye pork doner.
				hr

				.large-window.two
					.window-tint
						.promo-text Stinson Tee
							strong <span>from</span> $39
							a(href="").window-cta Shop Now
				strong Legen-dary Brooklyn Tee
				p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo.
				hr

				h1 Newsfeed
				.blog-posts.row
					.post.columns.four.post-1
						h5 Spring / Summer '15'
						img(src="images/posts/196H.jpg")
						p Lorem ipsum Anim Excepteur nisi voluptate
						p: a.button(href="") Read More
					.post.columns.four.post-2
						h5 Casual City Collection
						img(src="images/posts/216H.jpg")
						p Duis culpa voluptate.Duis culpa voluptate voluptate.
						p: a.button(href="") Read More
					.post.columns.four.post-3
						h5 All Purpose Head-Wear
						img(src="images/posts/229H.jpg")
						p Lorem ipsum Dolore consectetur Ut esse Lorem ipsum.
						p: a.button(href="") Read More

				hr

	footer
		.row.footer-wrap
			.columns.three
				strong Find Us On
				ul
					li: a(href="") Twitter
					li: a(href="") Facebook
					li: a(href="") Pinterest
					li: a(href="") Instagram
			.columns.three
				strong Other Shops
				ul
					li: a(href="") Red Robin
					li: a(href="") Emmerald Eagle
					li: a(href="") Crimson Crane
					li: a(href="") Auburn Abbot
			.columns.six
				p <strong>Sign up for the newsletter. </strong>Lorem ipsum Laboris dolore in do Excepteur id do veniam veniam nisi sit officia non mollit laborum aliquip nulla

					form.row
						.columns.eight
							input.u-full-width(type="email" placeholder="Yout Email")
						.columns.four
							input.button-primary(type="submit")

		
		script(src="js/jquery-2.1.3.min.js")
		script(src="js/function.js")